.content {
  max-width: 800px;
  margin: auto;
}
img {
  width: 100%;
}
.content p {
  margin-top: 60px;
  margin-bottom: 60px;
}
.content ol {
  margin-top: 60px;
  margin-bottom: 60px;
}
.content ul {
  margin-top: 60px;
  margin-bottom: 60px;
}
.content blockquote {
  margin-top: 60px;
  margin-bottom: 60px;
}
